* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans', 'Helvetica', Arial, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

canvas {
	display: block;
}

/* -------- NAV --------- */
nav {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

nav li {
	height: 40px;
}
nav a {
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #000;
}

nav a:hover {
	background-color: #e9e9e9;
	color: red;
}

nav li #name {
	background-color: rgb(82, 82, 82);
	color: #fff;
}

nav li #active {
	/* background-color: ; */
	color: #ff0000;
	font-weight: 500;
}

nav li:first-child {
	margin-right: auto;
	background-color: #888;
}
nav li:first-child a {
	color: #fff;
}
nav li:first-child a:hover {
	background-color: #ddd;
	color: #000;
}

header {
	width: auto;
	height: auto;
	padding: 5% 20px;
	background-color: #000;
}

.title-box {
	width: auto;
	padding: 3% 20px;
	background-color: #000;
	margin-bottom: 4px;
}

/* L------ LAYOUT ------ */

/* --- Flexbox --- */

.flex-container {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	gap: 30px;
	padding: 20px;
	border-bottom: 1px solid #a7a7a7;
	background-color: rgba(255, 255, 255, 0.6);
}

.flex-item-text {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 40%;
	align-self: flex-start;
	order: 0;
}

.flex-item-image {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: flex-start;
	order: 0;
}

/* TYPOGRAPHY  */

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.02em;
	padding-bottom: 10px;
}
h1.title {
	text-align: center;
	color: #ddd;
	font-weight: 300;
}
h2 {
	font-weight: 500;
}
h3 {
	font-weight: 600;
	position: relative;
}
h3 span {
	position: absolute;
	top: -50px;
}

p {
	font-size: 0.9em;
	line-height: 1.4em;
}

#greytext {
	color: #ababab;
	font-style: italic;
}
#red {
	color: red;
}
.caption {
	font-size: 0.8em;
}
code {
	font-size: 1.1em;
	color: rgb(0, 120, 150);
}
ol {
	padding-left: 1em;
}

ol > li {
	font-size: 0.9em;
	line-height: 1.5;
}

/* ------------------- */

footer {
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	background-color: #bbbbbb75;
	position: fixed;
	bottom: 0;
}
footer p {
	text-align: center;
	line-height: 1;
	font-size: 0.8em;
	font-weight: 400;
	color: #fff;
	margin: auto;
}
